// Colors
$orange: #D94700;
$red: #BB1F28;
$green: #2DC22D;
$yellow: #FFCF9A;
$blue: #253a57;

$grayDarker: lighten(#000, 13.5%);
$grayDark: #2A2C2B;
$gray: lighten(#000, 33.5%);
$grayLight: lighten(#000, 46.7%);
$grayLighter: lighten(#000, 93.5%);
$grayLightest: #ffffff;

$bodyBg: white;
$textColor: $grayDark;

$linkColor: $orange;
$linkColorHover: $red;

$sans: "Lato", "Helvetica Neue", Helvetica, sans-serif;
$serif: "Playfair Display", Georgia, serif;

$fontSizebase: 22;
$fontSizeLarge: ceil($fontSizebase * 2);
$fontSizeSmall: ceil($fontSizebase * 0.85);

$lineHeightBase: 1.5;
$leading: $lineHeightBase * 1rem;
$scale: 1.414;

$navHeight: 40px;
