@import "bootstrap.less";


.jumbotron {
	background: no-repeat center right fixed url(images/background.jpg);
	background-size: cover;
	margin: 0px;
	padding: 0px;
	height: 100%;
	.overlay {
		background-color: fadeout(@blue, 25%);
		position: absolute;
		top: 0px;
		bottom: 0px;
		left: 0px;
		right: 0px;
		z-index: 2;
	}
	.container {
		position: relative;
		top: 50%;
		.translate(0; -50%);
		z-index: 4;		
		h1 {
			text-align: left;
			color: @body-bg;
			line-height: 2;
			margin: 0;
			small{
				padding-top: @navbar-height;
				border-top: 1px solid fadeout(@body-bg, 35%);
				display: inline-block;
			}
		}
	}
}
.navbar  {
    .navbar-nav {
        float: none;
        margin: 0;
    }
    .nav > li {
        display: block;
        padding: 0;
        a {
            display: block;
            height: @navbar-height;
            text-align: center;
            line-height: @navbar-height;
            color: @gray-dark;
            padding: 0;
            &:hover,
            &:focus {
                color: @blue;
            }
        }
    }
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    background: @brand-primary;
    color: @body-bg;
}

.navbar-default .navbar-toggle {
	border: 0px;
	color: @gray-dark;
	padding: 5px;
	font-size: @font-size-h3;
	margin: 0;	
	&:hover,
	&:focus {
		color: @orange;
	}
}

.fixed .navbar  { position: fixed; top: 0px; }

.background-yellow {
    background: fadeout(@yellow, 50%);
}
.background-gray {
    background: fadeout(@blue, 25%);
    hr{
        border-top: 1px solid fadeout(@body-bg, 35%);
    }
}
.container {
    max-width: 1280px;
    padding: @navbar-height floor(@navbar-height * 2);
}

#about-derek .row > div { margin-bottom: 20px; }
#about-derek .row > div img { width: 100%; max-width: 250px; height: auto; border-radius: 50%; border: .5rem solid rgba(0,0,0,.1); }
	
#experience .experience { margin-bottom: 20px; }
#experience .experience p > strong { display: block; padding-top: 8px; margin-bottom: 10px; }
#experience .experience .experience-details { display: block; margin-top: 6px; }
#experience .experience .experience-details * { color: @brand-primary; font-size: @font-size-small; }
#experience .experience .experience-details .seperator { color: #BCBCBC; }

#qualifications ul > li { height: @navbar-height; line-height: @navbar-height; }
#qualifications ul > li:hover { background: @body-bg; }
#qualifications ul > li .ability-title {  }
#qualifications ul > li .ability-score { float: right; }
#qualifications ul > li .ability-score .icon-heart {
	color: @body-bg;
	.transition(all 0.3s);
}
#qualifications ul > li .ability-score .filled { color: @brand-primary; }

#qualifications ul > li:hover .ability-score .filled { color: darken(@brand-primary, 15%); }

/* #projects .row { margin: 0px; } // bootstrap 3.1- hack */
#projects .row > div { margin-bottom: 30px; }
#projects figure { position: relative; overflow: hidden; }
#projects figure h3 { color: @body-bg; margin-bottom: 5px; }
#projects figure p > strong { width: 60px; display: inline-block; margin: 0px; }
#projects figure img { width: 110%; }
#projects figure figcaption {
    padding: 20px 30px;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure a {
	z-index: 1000;
	text-indent: 200%;
	white-space: nowrap;
	font-size: 0;
	.opacity(0);
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
}
#projects figure .icon {
	background: @brand-primary;
	position: absolute;
	top: 0px;
	right: 0px;
	width: @navbar-height;;
	height: @navbar-height;;
	line-height: @navbar-height;
	.text-center;
}
#more-info {
    padding-bottom: 200px;
    .row *,
    h2 {
        color: @body-bg;
    }
    a {
    	display: block;
    	margin-bottom: @font-size-base;
    	font-size: @font-size-h3;
        .opacity(.6);
        &:hover {
        	.opacity(1);
        	text-decoration: none;
        }
    }
}
@media (max-width: @screen-xs-max) {
	.jumbotron{
	    &:before {
    		bottom: 100px;
    		left: 20px;
    		right: 20px;
    		top: 20px;
	    }
    	.container {
    		position: relative;
    		top: 0;
    		.translate(0;0);
    		z-index: 4;
    		
    		h1 {
    			text-align: left;
    			color: @body-bg;
    			line-height: 1;
    			margin: 0;
    			small{
    				margin-top: @navbar-height;
    				padding-top: @navbar-height;
    				border-top: 1px solid fadeout(@body-bg, 35%);
    				display: inline-block;
    			}
    		}
    	}
	}
	
	.navbar  {
	    left: 0px;
	    width: 100%;
	    background-color: fadeout(@body-bg, 10%);
    	.nav > li {
    	    height: ceil(@navbar-height * 2);
    	    width: 100%;
            a {
        	    height: ceil(@navbar-height * 2);
        	    text-align: center;
        	    line-height: ceil(@navbar-height * 2);
        	}
    	}
	}
	
	.fixed .navbar { top: 0px; }
	
	.container { padding: 60px 20px; min-width: 280px; }
	.hidden-phone { display: none; }
	
	
	#experience .experience .experience-details > span { display: block; margin-bottom: 6px; }
	#experience .experience .experience-details .seperator { display: none; }
	
	#more-info { padding-bottom: 60px; }
	#more-info a .icon { float: left; margin-right: 10px; }
}

@media only screen and (orientation: portrait) and (max-width: @screen-xs-max)  {
    .jumbotron {
      -webkit-background-size: auto 150%;
      background-attachment: scroll;
    }
}
@media only screen and (orientation: landscape) and (max-width: @screen-xs-max)  {
    .jumbotron {
      -webkit-background-size: 150% auto;
      background-attachment: scroll;
    }
}


figure.effect {
	background: @brand-primary;
	color: @body-bg;
	border: 1px solid @brand-primary;
    img {
    	width: -webkit-calc(100% + 20px);
    	width: calc(100% + 20px);
    	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    	transition: opacity 0.35s, transform 0.35s;
    	.translate3d(-10px; 0; 0);
    	.backface-visibility(hidden);
    }
    &:hover img {
    	.opacity(.2);
    	.translate3d(0; 0; 0)
    }
    figcaption {
    	text-align: left;
    }
    h3 {
    	position: relative;
    	overflow: hidden;
    	padding-bottom: 20px;
    	.opacity(0);
    	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    	transition: opacity 0.35s, transform 0.35s;
        &:after {
        	position: absolute;
        	bottom: 0;
        	left: 0;
        	width: 100%;
        	height: 2px;
        	background: @body-bg;
        	content: '';
        	-webkit-transition: -webkit-transform 0.35s;
        	transition: transform 0.35s;
        	.translate3d(-100%; 0; 0);
        }
    }
    &:hover h3 {
    	.opacity(1);
        &:after {
        	.translate3d(0; 0; 0);
        }
    }   
    p {
    	padding-top: 10px;
    	.opacity(0);
    	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
    	transition: opacity 0.35s, transform 0.35s;
    	.translate3d(100%; 0; 0);
    }
    
    &:hover p {
    	.opacity(1);
    	.translate3d(0; 0; 0);
    }
}