@property --hue {
  syntax: '<angle>';
  initial-value: 0.75turn;
  inherits: false;
}

@keyframes hue-cycle {
  to {
    --hue: 2turn;
  }
}

:root {
  --font-body: 'Open Sans', sans-serif;
  --font-head: 'League Gothic', sans-serif;

  /* set base values */
  --text-base-size: 1em;
  --text-scale-ratio: 1.618;

  /* type scale */
  --text-xs: calc(1em / var(--text-scale-ratio));
  --text-sm: calc(1em * var(--text-scale-ratio));
  --text-md: calc(1em * pow(var(--text-scale-ratio), 2));
  --text-lg: calc(1em * pow(var(--text-scale-ratio), 3));
  --text-xl: calc(1em * pow(var(--text-scale-ratio), 4));
  --text-xxl: calc(1em * pow(var(--text-scale-ratio), 5));

  /* line height */
  --heading-line-height: 1.2;
  --body-line-height: 1.4;

  /* breakpoints */
  --breakpoint-mobile: 480px;
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1024px;

  /* spacing values */
  --space-xxxs: 0.25em;
  --space-xxs: 0.375em;
  --space-xs: 0.5em;
  --space-sm: 0.75em;
  --space-md: 1.25em;
  --space-lg: 2em;
  --space-xl: 3.25em;
  --space-xxl: 5.25em;
  --space-xxxl: 8.5em;
}
@media (min-width: var(--breakpoint-mobile)) and (max-width: var(--breakpoint-tablet)) {
  :root {
    --text-base-size: 18px;
  }
}
@media (min-width: var(--breakpoint-desktop)) {
  :root {
    --text-base-size: 24px;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  color-scheme: dark;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  animation: hue-cycle 1s linear both;
  animation-timeline: scroll();
  background-color: oklch(20% 0.02 var(--hue));
  font-family: var(--font-body);
  font-size: var(--text-base-size);
  color: oklch(90% 0.02 var(--hue));
  -webkit-font-smoothing: antialiased;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head);
  line-height: var(--heading-line-height);
  color: oklch(65% 0.05 var(--hue));
  text-transform: uppercase;
}

h2 {
  font-size: var(--text-xxl);
}

h3 {
  font-size: var(--text-xl);
}

h4 {
  font-size: var(--text-lg);
}

h5 {
  font-size: var(--text-md);
}

h6 {
  font-size: var(--text-sm);
}

small {
  font-size: var(--text-xs);
}

p {
  font-size: var(--text-sm);
  line-height: var(--body-line-height);
}

a {
  color: oklch(90% 0.05 var(--hue));
}

a:visited {
  color: oklch(90% 0.04 var(--hue));
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}
