:root[data-theme='HOMER'] {
  --color-text: #f2d9b3;
  --color-bg: #bd483c;
  --font-body: 'Open Sans', sans-serif;
  --font-head: 'Amatic SC', sans-serif;
  color-scheme: dark;
}

:root[data-theme='KOONS'] {
  --color-text: #bd483c;
  --color-bg: #f2d9b3;
  --font-body: 'Open Sans', sans-serif;
  --font-head: 'Playfair Display', serif;
  color-scheme: light;
}

:root[data-theme='WARHOL'] {
  --color-text: #ffed4d;
  --color-bg: #fd0c81;
  --font-body: 'Open Sans', sans-serif;
  --font-head: 'Staatliches', sans-serif;
  color-scheme: light;
}

html,
body {
  height: 100%;
  overflow-x: hidden;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-body);
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-head);
  line-height: 1.1;
  font-weight: 600;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 5rem;
}

h3 {
  font-size: 4rem;
}

h4 {
  font-size: 3rem;
}

h5 {
  font-size: 2rem;
}

.wrapper {
  width: 100%;
  max-width: 83rem;
  margin-inline: auto;
  padding-inline: 1.5rem;
}

.stack {
  display: flex;
  flex-direction: column;
}
