@font-face {
  font-family: 'IBM Thin';
  font-style: normal;
  font-display: swap;
  font-weight: 100;
  src: url(/fonts/IBMPlexSerif-Thin.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122,
    U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

@font-face {
  font-family: 'IBM';
  font-style: normal;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/IBMPlexSerif-Regular.ttf) format('truetype');
}

@font-face {
  font-family: 'IBM Italic';
  font-style: italic;
  font-display: swap;
  font-weight: 400;
  src: url(/fonts/IBMPlexSerif-Italic.ttf) format('truetype');
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

html {
  color-scheme: dark;
  --color-dark: oklch(30% 0.02 264);
  --color-light: oklch(90% 0.01 264);
  --color-accent: oklch(65% 0.1 264);
  --color-red: oklch(60.61% 0.121 15.34);
  --color-blue: oklch(59.44% 0.077 254.03);

  --font-body: 'IBM', serif;
  --font-head: 'IBM Thin', serif;
  --font-accent: 'IBM Italic', serif;

  /* set base values */
  --text-base-size: 20px;
  --text-scale-ratio: 1.618;

  /* type scale */
  --text-xs: calc(1em / pow(var(--text-scale-ratio), 2));
  --text-sm: calc(1em / var(--text-scale-ratio));
  --text-md: calc(1em * var(--text-scale-ratio));
  --text-lg: calc(1em * pow(var(--text-scale-ratio), 2));
  --text-xl: calc(1em * pow(var(--text-scale-ratio), 3));

  /* line height */
  --heading-line-height: 1;
  --body-line-height: 1.4;
}

/* Tablet and up */
@media screen and (min-width: 40em) {
  html {
    --text-base-size: 26px;
  }
}

/* Desktop and up */
@media screen and (min-width: 64em) {
  html {
    --text-base-size: 32px;
  }
}

html,
body {
  height: 100%;
  overflow-x: hidden;
  overscroll-behavior-y: none;
}

body {
  background-color: var(--color-dark);
  font-family: var(--font-body);
  font-size: var(--text-base-size);
  line-height: var(--body-line-height);
  color: var(--color-light);
  -webkit-font-smoothing: antialiased;
  position: relative;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-head);
  line-height: var(--heading-line-height);
  color: var(--color-accent);
  text-transform: uppercase;
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

p {
  font-size: var(--text-sm);
}

small {
  font-size: var(--text-xs);
}

a,
a:visited {
  color: var(--color-accent);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
  font-family: var(--font-italic);
}
