---
import Section from '@/components/Section.astro';
import Header from '@/components/Header.astro';
import BaseLayout from '@/layouts/BaseLayout.astro';

import { headline } from '@/constants';
---

<BaseLayout>
  <Header />
  <main>
    <Section>
    </Section>
  </main>
</BaseLayout>

<style></style>
