---
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <Header />

  <main>
    <section>
      <header></header>
    </section>
  </main>
</BaseLayout>

<style></style>
