---
import ThemeToggle from '../components/ThemeToggle.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <div class="">
    <div class="wrapper">
      <ThemeToggle />
      <header class="hero"><h1>Hero</h1></header>
    </div>

    <main class="wrapper">
      <section>
        <header>
          <h3>Section Header</h3>
        </header>
      </section>
    </main>
  </div>
</BaseLayout>

<style></style>
