---
import Section from '../components/Section.astro';
import Header from '../components/Header.astro';
import BaseLayout from '../layouts/BaseLayout.astro';

import { headline } from '../constants';
---

<BaseLayout>
  <Header />
  <main>
    <Section>
      <h2>Front-end engineer and, occasionally, a designer.</h2>

      <p>{headline}</p>
    </Section>
  </main>
</BaseLayout>

<style></style>
