---
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <header class="wrapper">
    <h1>Hero h1</h1>
  </header>

  <main class="wrapper">
    <section>
      <header>
        <h2>Section Header 2</h2>
        <h3>Section Header 3</h3>
        <h4>Section Header 4</h4>
        <h5>Section Header 5</h5>
        <h6>Section Header 6</h6>
      </header>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>

      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>

      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>

      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>

      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>

      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>

      <h2>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</h2>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Itaque magni accusantium quos voluptatum nam repudiandae et aliquam beatae praesentium necessitatibus vel similique facilis nulla dicta, saepe ipsam hic tempora cumque?</p>
    </section>
  </main>
</BaseLayout>

<style></style>
