---
import ThemeToggle from '../components/ThemeToggle.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout>
  <header class="wrapper">
    <ThemeToggle />
    <header class="hero"><h1>Hero</h1></header>
  </header>

  <main class="wrapper">
    <section>
      <header>
        <h3>Section Header</h3>
        <p>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
          eiusmod tempor incididunt ut labore et dolore magna aliqua. Aliquam id
          diam maecenas ultricies mi eget mauris pharetra et. Pretium lectus
          quam id leo in vitae turpis massa sed. Hendrerit dolor magna eget est
          lorem ipsum. Tempor nec feugiat nisl pretium fusce id velit ut tortor.
          Sed risus ultricies tristique nulla aliquet enim. Rhoncus aenean vel
          elit scelerisque mauris. Volutpat commodo sed egestas egestas
          fringilla. In ornare quam viverra orci. Cras fermentum odio eu feugiat
          pretium nibh ipsum consequat. Porta non pulvinar neque laoreet
          suspendisse interdum consectetur libero id. Morbi tincidunt ornare
          massa eget egestas purus. Dolor sed viverra ipsum nunc aliquet
          bibendum enim facilisis. Ultrices sagittis orci a scelerisque.
        </p>
      </header>
    </section>
  </main>
</BaseLayout>

<style></style>
