---
import { firstName } from '@/constants';
---

<header>
  <h1>{firstName}</h1>
</header>

<style>
  @property --hue {
    syntax: '<angle>';
    initial-value: 0.75turn;
    inherits: false;
  }

  @keyframes hue-cycle {
    to {
      --hue: 4turn;
    }
  }

  header {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
  }

  h1 {
    font-family: var(--font-head);
    font-size: 30vw;
    line-height: 1;
    font-weight: 700;
    font-kerning: normal;
    letter-spacing: -2vw;
    animation: hue-cycle 1s linear both;
    animation-timeline: scroll();
    color: oklch(85% 0.05 var(--hue));
  }
</style>
