---
import { fullName, title } from '@/constants';
---

<header>
  <h1 class="gradient-text">{fullName}</h1>
  <h2>{title}</h2>
</header>

<style>
  header {
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
  }

  h1 {
    font-family: var(--font-head);
    font-size: max(4rem, 10vw);
    font-kerning: normal;
    font-weight: 100;
    line-height: var(--heading-line-height);
  }

  h2 {
    font-size: 2.986rem;
  }
</style>
