---

---

<theme-toggle>
  <button class="toggle">Change theme</button>
</theme-toggle>

<style>
  .toggle {
    background-color: var(--color-text);
  }
</style>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();
      const THEMES = ['dark', 'light', 'unicorn'];

      const getTheme = () => {
        const themeLocalStorage = localStorage.getItem('theme');
        const themeDefault = window.matchMedia('(prefers-color-scheme: dark)')
          .matches
          ? 'dark'
          : 'light';

        return themeLocalStorage ?? themeDefault;
      };

      const setTheme = () => {
        let currentTheme = getTheme();
        const currentThemeIndex = THEMES.findIndex((t) => t === currentTheme);
        if (currentThemeIndex < THEMES.length - 1) {
          const nextTheme = THEMES[currentThemeIndex + 1];
          document.documentElement.dataset.theme = nextTheme;
          localStorage.setItem('theme', nextTheme);
          console.debug(
            `<------------src/components/ThemeToggle.astro:39------------>\n`,
            {
              currentTheme,
              currentThemeIndex,
              nextTheme,
            },
          );
        }
      };

      const button = this.querySelector('button')!;
      button.addEventListener('click', setTheme);

      setTheme();
    }
  }
  customElements.define('theme-toggle', ThemeToggle);
</script>
