---

---

<theme-toggle>
  <button class="toggle">Change theme</button>
</theme-toggle>

<style>
  .toggle {
    background-color: var(--color-text);
    color: var(--color-bg);
    border: none;
    font-size: 2rem;
    padding: 0.5rem;
    cursor: pointer;
  }
</style>

<script>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();
      const THEMES = ['dark', 'green', 'light', 'pink', 'blue'];

      const getDefaultTheme = () =>
        window.matchMedia('(prefers-color-scheme: dark)').matches
          ? 'dark'
          : 'light';

      const getTheme = () => {
        const themeLocalStorage = localStorage.getItem('theme');
        return themeLocalStorage ?? getDefaultTheme();
      };

      const setTheme = (theme: string) => {
        document.documentElement.dataset.theme = theme;
        localStorage.setItem('theme', theme);
      };

      const button = this.querySelector('button')!;
      button.addEventListener('click', () => {
        let currentTheme = getTheme();
        const currentThemeIndex = THEMES.findIndex((t) => t === currentTheme);
        const indexWithinRange = currentThemeIndex < THEMES.length - 1;
        const nextTheme = indexWithinRange
          ? THEMES[currentThemeIndex + 1]
          : THEMES[0];
        setTheme(nextTheme);
      });

      const watchSysTheme = window.matchMedia('(prefers-color-scheme: dark)');
      watchSysTheme.addEventListener('change', () => {
        setTheme(getDefaultTheme());
      });

      setTheme(getTheme());
    }
  }
  customElements.define('theme-toggle', ThemeToggle);
</script>
